In [2]:
%matplotlib qt
from mpl_toolkits.mplot3d import axes3d
from mpl_toolkits.basemap import Basemap
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
from matplotlib import style

In [27]:
csvData = pd.read_csv("C:/Users/Daniel/OneDrive/Documents/OneDrive/Documents/Python Scripts/WFH documents/sample_flight_sim.csv")
jsonData = pd.read_json('C:/Users/Daniel/OneDrive/Documents/OneDrive/Documents/Python Scripts/WFH documents/n4023f_stamprun.json');

In [36]:
csvData.head(3)

      Time   Longitude   Latitude   Altitude      Roll     Pitch    Heading
0  56.1667 -157.943156  21.325247  23.924636 -0.050059 -0.231505  89.869063
1  57.1667 -157.943156  21.325247  23.924636 -0.050059 -0.231505  89.869063
2  58.1667 -157.943156  21.325247  23.924636 -0.050059 -0.231505  89.869063

In [9]:
jsonData.head(3)

     Altitude  Course   Latitude  Longitude     Speed               Timestamp
0  136.811028     0.0  38.315401 -76.553887  0.000000 2020-02-15 17:23:39.164
1  136.811028   336.2  38.315401 -76.553887  3.599989 2020-02-15 17:23:39.168
2  136.811028   336.2  38.315401 -76.553887  3.599989 2020-02-15 17:23:39.366

In [17]:
plt.figure()
plt.subplot(311)
plt.plot(csvData.Time,csvData.Altitude)
plt.ylabel('Altitude')
plt.subplot(312)
plt.plot(csvData.Time,csvData.Latitude)
plt.ylabel('Latitude')
plt.subplot(313)
plt.plot(csvData.Time,csvData.Longitude)
plt.ylabel('Longitude');

In [14]:
plt.figure()
NAmap = Basemap(projection = 'merc',lat_0 = 38,lon_0 = -76.5,
                resolution = 'h',area_thresh = 0.1,
               llcrnrlon = -78,llcrnrlat = 36.5,
               urcrnrlon = -75,urcrnrlat = 39.5)
NAmap.drawcoastlines()
NAmap.drawstates()
NAmap.drawmapboundary(fill_color = 'aqua')
NAmap.fillcontinents(color = 'coral',lake_color = 'aqua');

In [19]:
plt.figure()
plt.plot(csvData.Longitude,csvData.Latitude)

In [38]:
plt.figure()
NAmap = Basemap(projection = 'merc',lat_0 = 21.5,lon_0 = -157.5,
                resolution = 'h',area_thresh = 0.1,
               llcrnrlon = -158,llcrnrlat = 21,
               urcrnrlon = -157,urcrnrlat = 22)

NAmap.drawcoastlines()
NAmap.drawstates()
NAmap.drawmapboundary(fill_color='#99ffff')
NAmap.fillcontinents(color = 'coral',lake_color = 'aqua');

x,y = map(21.5,-157.5)
NAmap.scatter(csvData.Longitude,csvData.Latitude)
plt.show()

TypeError: 'float' object is not iterable