In [1]:
str(3)

'3'

In [2]:
three = str(3)

In [3]:
three

'3'

In [4]:
three*77

'33333333333333333333333333333333333333333333333333333333333333333333333333333'

In [5]:
int(three*5)

33333

In [6]:
str(int(three*5))

'33333'

In [7]:
three *5

'33333'

In [8]:
str(4.65)

'4.65'

In [9]:
int('456')

456

In [10]:
float('456')

456.0

In [11]:
int('I have 7 apples')

ValueError: invalid literal for int() with base 10: 'I have 7 apples'

In [13]:
input("Enter the number of shoes: ")

Enter the number of shoes: 863

'863'

In [14]:
num_shoes_left = 627

In [15]:
num_shoes_wanted = int(input("Enter the number of shoes: "))

Enter the number of shoes: 863

In [16]:
num_shoes_left >= num_shoes_wanted

False