Work From Home Project: Flight Maps
Week 1: Read in csv and json files

In [23]:
%matplotlib qt
from mpl_toolkits.mplot3d import axes3d
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from matplotlib import style

In [2]:
flightsimcsv = pd.read_csv("C:/Users/Daniel/OneDrive/Documents/OneDrive/Documents/Python Scripts/WFH documents/sample_flight_sim.csv")

In [3]:
flightsimcsv.head(2)

      Time   Longitude   Latitude   Altitude      Roll     Pitch    Heading
0  56.1667 -157.943156  21.325247  23.924636 -0.050059 -0.231505  89.869063
1  57.1667 -157.943156  21.325247  23.924636 -0.050059 -0.231505  89.869063

In [4]:
flightsimcsv.dtypes

Time         float64
Longitude    float64
Latitude     float64
Altitude     float64
Roll         float64
Pitch        float64
Heading      float64
dtype: object

In [5]:
flightsimcsv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 514 entries, 0 to 513
Data columns (total 7 columns):
Time         514 non-null float64
Longitude    514 non-null float64
Latitude     514 non-null float64
Altitude     514 non-null float64
Roll         514 non-null float64
Pitch        514 non-null float64
Heading      514 non-null float64
dtypes: float64(7)
memory usage: 28.2 KB

In [6]:
# plot with pandas
flightsimcsv.plot()

In [7]:
flightsimcsv['Altitude'].plot()

In [8]:
flightsimcsv['Pitch'].plot();

In [9]:
# now with matplotlib
plt.plot(flightsimcsv.Time,flightsimcsv.Altitude)
plt.xlabel('Time')
plt.ylabel('Altitude')
plt.title('Altitude Over Time');

In [10]:
flightsimjson = pd.read_json('C:/Users/Daniel/OneDrive/Documents/OneDrive/Documents/Python Scripts/WFH documents/n4023f_stamprun.json')

In [11]:
flightsimjson.head(2)

     Altitude  Course   Latitude  Longitude     Speed               Timestamp
0  136.811028     0.0  38.315401 -76.553887  0.000000 2020-02-15 17:23:39.164
1  136.811028   336.2  38.315401 -76.553887  3.599989 2020-02-15 17:23:39.168

In [12]:
flightsimjson.dtypes

Altitude            float64
Course              float64
Latitude            float64
Longitude           float64
Speed               float64
Timestamp    datetime64[ns]
dtype: object

In [13]:
flightsimjson['Altitude'].plot();

In [14]:
plt.plot(flightsimjson.Timestamp,flightsimjson.Speed)

In [15]:
plt.figure(figsize=(10,4))
plt.subplot(121)
plt.plot(flightsimjson.Timestamp,flightsimjson.Latitude)
plt.title('Latitude');
plt.subplot(122)
plt.plot(flightsimjson.Timestamp,flightsimjson.Longitude)
plt.title('Longitude');

In [16]:
fig1 = plt.figure()
ax1 = plt.axes(projection='3d')
plt.show()

In [17]:
style.use('bmh')
style.available

['bmh',
 'classic',
 'dark_background',
 'fast',
 'fivethirtyeight',
 'ggplot',
 'grayscale',
 'seaborn-bright',
 'seaborn-colorblind',
 'seaborn-dark-palette',
 'seaborn-dark',
 'seaborn-darkgrid',
 'seaborn-deep',
 'seaborn-muted',
 'seaborn-notebook',
 'seaborn-paper',
 'seaborn-pastel',
 'seaborn-poster',
 'seaborn-talk',
 'seaborn-ticks',
 'seaborn-white',
 'seaborn-whitegrid',
 'seaborn',
 'Solarize_Light2',
 'tableau-colorblind10',
 '_classic_test']

In [25]:

fig2 = plt.figure()
#ax2 = fig2.add_subplot(111, projection='3d')
ax2 = plt.axes(projection='3d')
ax2.plot3D(flightsimjson.Latitude,flightsimjson.Longitude,flightsimjson.Altitude)
plt.show()